*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
}
body{
    background-color: #000000;
    
}
/*==Nav Bar==*/

.navbar{
    margin-top: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width:100%;

    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    z-index: 99;
    box-shadow: 5px 5px 5px 5px #000;
    background: rgb(0, 0, 0);
    top: 0;
    left: 0;
}
#chk1{
    display: none;
}
i{
    color: #000000;
    cursor: pointer;
}
.logo{
    flex: 1;
    color:#fff;
    color: #ffffff;
    font: normal 30px 'Cookie', cursive;
    margin-left: 50px;
    margin-bottom: 5px;
}
header .logo h3 span {
    color: greenyellow;
    margin-bottom: 30px;
}

.search-box{
    flex: 1;
    position: relative;
    margin-bottom: 3px;
    margin-right: 250px;
}
.search-box input{
    width:100%;
    height: 40px;
    border: none;
    outline: none;
    background:#f2f2f2;
    border-radius: 30px;
    color:rgb(0, 0, 0);
    font-size: 16px;
    padding-left: 5px;
    padding-right: 40px;
    text-align: center;
}
 
.search-box button{
    cursor: pointer;
    width:40px;
    height: 40px;
    border-radius: 30px;
    border:none;
    position: absolute;
    top:0;
    right: 5px;
    transform: scale(0.9);
    background: greenyellow;
    color: #fff;
    
}
header ul {
    flex:2;
    display: flex;
    justify-content: space-evenly;
}
header ul li{
    list-style: none;
    margin-top: 50px;
}
header ul li a{
    text-decoration: none;
    color:#fff;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px 15px;
}
.nav_items:hover{
    border-bottom: 2px solid greenyellow;
    border-top:  2px solid greenyellow;
}
@media(max-width:1000px){
    .search-box button{
        position: absolute;
    }
    header ul{
        position: fixed;
        top:100px;
        right: -100%;
        background: rgba(0,0,0,0.5);
        height: calc(100vh - 100px);
        width:50%;
        flex-direction: column;
        align-items: center;
        transition: right 0.5s linear;
    }
     
    header .menu{
        display: block;
        width:100px;
        text-align: right;
    }
    #search symbol:checked ~ ul{
        right: 0;
        
    }
  
}
.cart{
    position: relative;
    top:-17px; 
}
#cart_amount{
    padding-bottom: 10px;
}

/*==Main Section==*/
section{
    width: 100%;
    height: 100vh;
    background-image: url(https://res.cloudinary.com/de27xvxon/image/upload/v1715789092/bg_nsiim5.png);
    background: linear-gradient(100);
    background-size: cover;
    background-position: center;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 10%;
}

section .main h1{
    position: relative;
    font-size: 55px;
    top: 80px;
    left: 25px;
    color: rgb(255, 255, 255);
}

section .main h1 span{
    color:greenyellow;
}

section .main p{
    width: 650px;
    text-align: justify;
    line-height: 22px;
    position: relative;
    top: 125px;
    left: 25px;
    color: rgb(255, 255, 255);
}

section .main .main_tag .main_btn{
    background: greenyellow;
    padding: 10px 20px;
    position: relative;
    top: 200px;
    left: 25px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

section .main .main_img img{
    width: 780px;
    position: relative;
    top: 90px;
    left: 20px;
}




/*services*/

.services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 15px olivedrab;
    padding: 15px 10px;
    color: rgb(255, 255, 255);
}

.services .services_box .services_card i{
    color: greenyellow;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services .services_box .services_card h3{
    margin-bottom: 10px;
    color: greenyellow;
}




/*about*/

.about{
    width: 100%;
    height: auto;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_image img{
    width: 750px;
}

.about .about_tag h1{
    font-size: 50px;
    position: relative;
    bottom: 35px;
    color: greenyellow;
}

.about .about_tag p{
    line-height: 20px;
    width: 600px;
    text-align: justify;
    margin-bottom: 15px;
    color: rgb(255, 255, 255);
}

.about .about_tag .about_btn{
    padding: 10px 20px;
    background: greenyellow;
    color: #000000;
    text-decoration: none;
    position: relative;
    top: 50px;
}

/*Books*/

.featured_boks{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.featured_boks h1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 45px;
    color:greenyellow;
}

.featured_boks .featured_book_box{
    width: 95%;
    height: 60vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    overflow: hidden;
    overflow-x: scroll;
}

.featured_boks .featured_book_box .featured_book_card{
    width: 250px;
    height: 420px;
    text-align: center;
    padding: 5px;
    border: 1px solid #ffffff8e;
    margin: auto 20px;
    color: rgba(101, 154, 99, 0.673);
}

.featured_boks .featured_book_box .featured_book_card:hover{
    box-shadow: 0 0 30px greenyellow;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_img img{
    width: 150px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag h2{
    margin: 12px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .writer{
    color: #9b9c9b;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .categories{
    color: greenyellow;
    margin-top: 8px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price{
    margin-top: 8px;
    font-weight: bold;
    margin-bottom: 15px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .book_price sub{
    font-weight: 100;
    padding: 0 5px;
}

.featured_boks .featured_book_box .featured_book_card .featurde_book_tag .f_btn{
    padding: 8px 20px;
    border: 2px solid greenyellow;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: greenyellow;
}

::-webkit-scrollbar{
    width: 5px;
    height: 3px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb{
    background: greenyellow;
    border-radius: 10px;
}




/*arrivals*/

.arrivals{
    width: 100%;
    height: 100vh;
    margin-bottom: 10px;
}

.arrivals h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: greenyellow;
}

.arrivals .arrivals_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 25px 0;
}

.arrivals .arrivals_box .arrivals_card{
    width: 250px;
    height: 340px;
    text-align: center;
    padding: 5px;
    border: 1px solid #91919173;
    margin: auto 20px;
    color: rgba(255, 255, 255, 0.673);
}

.arrivals .arrivals_box .arrivals_card:hover{
    box-shadow: 0 0 20px greenyellow;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image{
    width: 150px;
    height: 220px;
    margin: 0 auto;
    cursor: pointer;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.5);
    overflow: hidden;
}

.arrivals .arrivals_box .arrivals_card .arrivals_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 0.3s;
}

.arrivals .arrivals_box .arrivals_card:hover .arrivals_image img{
    transform: scale(1.1);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag p{
    font-family: queen of camelot;
    font-size: 20px;
    margin: 8px 0;
    color: rgba(255, 255, 255, 0.885);
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_icon{
    color: greenyellow;
    margin-bottom: 18px;
    
}

.arrivals .arrivals_box .arrivals_card .arrivals_tag .arrivals_btn{
    padding: 8px 20px;
    border: 2px solid greenyellow;
    background-color: greenyellow;
    text-decoration: none;
    color: #000000;
}




/*reviews*/

.reviews{
    width: 100%;
    height: auto;
}

.reviews h1{
    text-align: center;
    font-size: 50px;
    margin-top: 55px;
    color:greenyellow;
}

.reviews .review_box{
    width: 95%;
    height: 50vh;
    margin: 15px auto;
    display: flex;
    align-items: center;
    color:greenyellow;
    justify-content: center;
}

.reviews .review_box .review_card{
    width: 400px;
    height: 320px;
    box-shadow: 0 0 15px rgba(138, 195, 24, 0.729);
    padding: 15px;
    margin: 0 12px;
}

.reviews .review_box .review_card i{
    float: right;
    font-size: 120px;
    position: relative;
    bottom: 20px;
    color: #42ab4689;
}

.reviews .review_box .review_card .card_top img{
    width: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.reviews .review_box .review_card .card p{
    margin: 10px 0 10px 0;
    text-align: justify;
    line-height: 22px;
    color: rgb(255, 255, 255);
}

.reviews .review_box .review_card .card .review_icon i{
    font-size: 16px;
    float: left;
    margin-top: 20px;
    color: rgba(172, 255, 47, 0.629);
    padding: 0 1px;
}

/*Blog*/

.blog{
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.blog h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 30px;
    color:greenyellow;
}

.blog .blog_box{
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.blog .blog_box .blog_card{
    margin: 0 auto;
    width: 450px;
    height: auto;
    box-shadow: 0 0 20px greenyellow;
}

.blog .blog_box .blog_card .blog_img{
    width: 450px;
    height: 300px;
    overflow: hidden;
}

.blog .blog_box .blog_card .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag{
    padding: 20px;
}

.blog .blog_box .blog_card .blog_tag h2{
    color: greenyellow;
}

.blog .blog_box .blog_card .blog_tag p{
    margin-top: 10px;
    text-align: justify;
    line-height: 22px;
    color: rgba(255, 255, 255, 0.792);
}

.blog .blog_box .blog_card .blog_tag .blog_icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: greenyellow;
    cursor: pointer;
}












/*==footer==*/
footer {
    position: fixed;
    bottom: 0;
   
}

@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #000000;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: rgba(255, 255, 255, 0.673);
    font: normal 36px 'Cookie', cursive;
    margin: 0;
}


.footer-distributed h3 span {
    color:greenyellow;
}

/* Footer links */

.footer-distributed .footer-links {
    color: rgba(255, 255, 255, 0.673);
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}

.footer-distributed .footer-center i {
    background-color: #33383b;
    color: rgba(255, 255, 255, 0.673);
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p {
    display: inline-block;
    color: rgba(255, 255, 255, 0.673);
    vertical-align: middle;
    margin: 0;
}

.footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-center p a {
    color:greenyellow;
    text-decoration: none;
    ;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: rgba(255, 255, 255, 0.673);
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 25px;
}

.footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #646769;
    border-radius: 2px;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 35px;
    margin-right: 3px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: greenyellow;
}

.footer-links a:hover {
    color: greenyellow;
}

@media (max-width: 1000px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}